body {
    font-family: 'Roboto', sans-serif;
    width: auto;
    color: white;
}

.text-dark {
    font-family: 'Lato', sans-serif;
    color: white;
}

#footer .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 80px 0;
    background-image: url(tokyo.jpeg);
    color: white;
}

#footer .footer-top h3 {
    font-size: 36px;
    font-weight: 900;
    color: white;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}

#footer .footer-top p {
    font-size: 15;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
    color: white;
}

#footer .footer-top .footer-newsletter {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    color: white;
}

#footer .footer-top .footer-newsletter form {
    background: white;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="name"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="surname"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="phone-number"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: lightseagreen;
    color: white;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px white;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: lightseagreen;
}

#footer .footer-top .social-links {
    margin-top: 30px;
    color: white;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: lightseagreen;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: lightseagreen;
    color: white;
    text-decoration: none;
}

#footer .footer-bottom {
    border-top: 1px solid lightseagreen;
    z-index: 2;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer .copyright {
    float: left;
}

#footer .credits {
    float: right;
    font-size: 13px;
}

@media (max-width: 768px) {
    #footer .copyright,
    #footer .credits {
        float: none;
        text-align: center;
    }
    #footer .credits {
        padding-top: 5px;
    }
}

.listnumber {
    background-color: white;
    color: white;
}

.listnumber hr {
    border: 1px solid white;
}

.listnumber table {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    caption-side: bottom;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

.listnumber h2 {
    text-align: center;
}

.listnumber h5 {
    text-align: center;
}

.listnumber table {
    border: 1px solid white;
}

.listnumber tr {
    border: 1px solid white;
}

.listnumber td {
    border: 1px solid white;
}

.listnumber th {
    border: 1px solid white;
    background-color: lightseagreen;
    color: white;
}

.listnumber a {
    color: lightseagreen;
    background: white;
    border-radius: 30px;
    margin: 0 45% 0 45%;
    border-color: lightseagreen;
}

.phonethisnumbers h5 {
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
}