.logo {
    position: fixed;
    top: 0;
    background-color: black;
    height: 90px;
    margin-top: -15px;
    text-align: center;
    height: 90px;
    width: 100%;
}

.logo a {
    font-family: 'Rock Salt', cursive;
    color: white;
    text-align: center;
    font-size: 35px;
}

.about {
    margin-top: 100px;
}

.about a {
    top: 20px;
    position: relative;
    color: white;
    font-size: 40px;
    margin-left: 80px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
}

.about a:hover {
    border: 2px solid white;
}

body,
html {
    height: 100%;
    margin-left: -1px;
    margin-right: 1px;
}

.about {
    height: 606px;
    margin-top: 70px;
    /* The image used */
    background-image: linear-gradient( rgba(27, 27, 27, 0.6), rgba(0, 0, 0, 0.6)), url("team.jpeg");
    /* Full height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .about {
        background-attachment: scroll;
    }
}

.teams img {
    margin-top: -220px;
    margin-left: 740px;
    border: 4px double white;
    box-shadow: 10px 10px 5px black;
    -moz-box-shadow: 10px 10px 5px black;
    -webkit-box-shadow: 10px 10px 2px black;
    -khtml-box-shadow: 10px 10px 2px black;
}

.design {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-top: 240px;
    margin-left: 60px;
    letter-spacing: 9px;
}

.our_team {
    text-align: center;
    background-color: rgb(139, 154, 194);
    height: 850px;
}

.our_team a {
    position: relative;
    top: 5%;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Julius Sans One', sans-serif;
    color: black;
}

.aks img {
    margin-left: -900px;
    margin-top: 3%;
    box-shadow: 10px 10px 5px rgb(21, 36, 122);
    -moz-box-shadow: 10px 10px 5px rgb(21, 36, 122);
    -webkit-box-shadow: 10px 10px 2px rgb(21, 36, 122);
    -khtml-box-shadow: 10px 10px 2px rgb(21, 36, 122);
}

.word1 h3 {
    margin-top: -19%;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
}

.word1 p {
    font-size: 22px;
    font-family: fantasy;
    letter-spacing: 2px;
}

.main {
    display: flex;
    justify-content: space-around;
}

.bauka img {
    margin-top: 100px;
    margin-left: -300px;
    box-shadow: 10px 10px 5px rgb(21, 36, 122);
    -moz-box-shadow: 10px 10px 5px rgb(21, 36, 122);
    -webkit-box-shadow: 10px 10px 2px rgb(21, 36, 122);
    -khtml-box-shadow: 10px 10px 2px rgb(21, 36, 122);
}

.word2 h3 {
    margin-top: 250px;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
}

.word2 p {
    font-size: 22px;
    font-family: fantasy;
    letter-spacing: 2px;
}

.container {
    letter-spacing: 2px;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

@media(max-width:600px) {
    .design {
        text-align: center;
        margin-top: 20%;
        font-size: 10px;
    }
    .teams img {
        width: 300px;
        height: 300px;
        margin-left: 100px;
        margin-top: 15px;
    }
    .aks img {
        margin-top: 100px;
        margin-left: 10px;
    }
    .word1 {
        margin-top: 25%;
    }
    .bauka img {
        margin-top: 40px;
        margin-left: -480px;
    }
    .word2 {
        text-align: center;
        margin-top: 40%;
        margin-left: 30px;
    }
    .our_team {
        height: 1300px;
    }
    .container {
        font-size: 10px;
    }
}