body {
    font-family: 'Roboto', sans-serif;
    background: url(arc.jpeg) no-repeat;
    background-size: 1440px 700px;
    width: 1440px;
    height: 700px;
}

#navigation {
    background: none;
    padding: 20px 40px;
    z-index: 100;
    width: 100%;
    color: white;
}

.nav-link {
    font-size: 16px;
    margin: 20px;
    transition: 0.5s;
}

.nav-link:hover {
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.navbar-nav {
    margin-left: 75px;
}

#navigation li {
    color: white;
}

.backfont {
    background-color: black;
    height: 90px;
    text-align: center;
}

.backfont a {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 3px solid white;
}

.navbar-brand,
.navbar-brand:hover {
    font-family: 'Rock Salt', cursive;
    color: white;
    font-size: 40px;
    margin-left: 35px;
}

.navbar-brand1,
.navbar-brand1:hover {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 35px;
}

.map {
    display: flex;
}

.yandex {
    width: 500px;
    margin-right: 70px;
    margin-top: -30px;
}

.places h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    margin-left: 50px;
    color: white;
}

.places h2 {
    font-family: 'Zilla Slab', serif;
    margin-left: 50px;
    font-size: 25px;
}

.numbers h1 {
    font-family: 'Zilla Slab', serif white;
    margin-left: 50px;
    font-size: 20px;
    border-top: white;
    border-bottom: white;
}

hr {
    border: 2px solid white;
}