@media (max-width: 800px) {
    body {
        font-family: 'Roboto', sans-serif;
        background: url(lampochki.jpeg) no-repeat;
        background-size: 1440px 560px;
    }
    #navigation {
        background: none;
        padding: 20px 40px;
        z-index: 100;
        width: 100%;
        color: white;
    }
    .nav-link {
        font-size: 16px;
        margin: 20px;
        transition: 0.5s;
    }
    .nav-link:hover {
        color: white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .navbar-nav {
        margin-left: 75px;
    }
    #navigation li {
        color: white;
    }
    .backfont {
        background-color: black;
        height: 80px;
        text-align: center;
    }
    .backfont a {
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 3px solid white;
    }
    .navbar-brand,
    .navbar-brand:hover {
        font-family: 'Rock Salt', cursive;
        color: white;
        font-size: 30px;
        margin-left: 35px;
    }
    .navbar-brand1,
    .navbar-brand1:hover {
        font-family: 'Julius Sans One', sans-serif;
        color: white;
        font-size: 40px;
        margin-left: 35px;
    }
    .citata {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        line-height: 2.125rem;
        font-weight: 400;
        color: white;
        margin-left: 20px;
        margin-top: 20px;
    }
    .citata1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        line-height: 2.125rem;
        font-weight: 400;
        color: white;
        margin-right: 20px;
        margin-top: 20px;
        text-align: right;
    }
    .citata2 {
        margin-top: 20px;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        font-size: 20px;
        color: white;
    }
    .workers {
        margin-top: 50px;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
        color: black;
        display: flex;
        padding-left: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        background-image: url(white.jpeg);
    }
    .workers .worker1 {
        border: 1px double black;
        width: 650px;
    }
    .worker1 h1 {
        text-align: center;
        font-size: 25px;
    }
    .worker1 p {
        font-size: 16px;
        font-weight: bolder;
        margin-left: 10px;
    }
    .workers .worker2 {
        border: 1px double black;
        width: 650px;
    }
    .worker2 h1 {
        text-align: center;
        font-size: 25px;
    }
    .worker2 p {
        font-size: 16px;
        font-weight: bolder;
        margin-left: 10px;
    }
}