html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-left: -1px;
    margin-right: -0.5px;
}

.logo {
    background-color: black;
    height: 90px;
    margin-top: -15px;
    text-align: center;
    height: 90px;
    width: 100%;
}

.logo a {
    font-family: 'Rock Salt', cursive;
    color: white;
    text-align: center;
    font-size: 35px;
}

.collapse {
    margin: 0px;
    display: flex;
    background-image: linear-gradient( rgba(226, 225, 225, 0.2), rgba(0, 0, 0, 0)), url(https://blog.herzing.ca/hubfs/drafter.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro {
    color: rgb(68, 0, 0);
    font-size: 40px;
    margin-left: 35px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
}

.pro:hover {
    color: rgb(41, 41, 41);
    border-bottom: 2px solid black;
}

.nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 90px;
    top: 13px;
    margin: 60px;
    color: rgb(90, 17, 17);
    text-decoration: none;
    transition: 0, 5s;
}

.nav-link:hover {
    color: rgb(37, 37, 37);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navbar-nav {
    margin-top: 40px;
    margin-left: 70px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.video video {
    margin-left: 10px;
    margin-top: 85px;
    width: 500px;
    height: 240px;
}

.slogan h2 {
    border: right 1px solid black;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    letter-spacing: 5px;
    margin-top: 180px;
    margin-left: -100px;
}

.tittle {
    margin-top: -35px;
    background-color: black;
    width: 100%;
    height: 400px;
}

.tittle h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
    color: white;
    letter-spacing: 3px;
    margin-left: 37%;
    position: relative;
    top: -220px;
}

hr {
    position: relative;
    right: 45%;
    top: 200px;
    width: 1px;
    height: 400px;
}

.des p {
    position: relative;
    top: 30px;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    color: rgb(255, 254, 254);
}

.inline-photo {
    margin-top: 10px;
    margin-left: 200px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

.black {
    margin-left: 380px;
    margin-top: -80px;
}

.info #loc {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    letter-spacing: 2.5px;
    font-size: 25px;
    margin-top: -190px;
    margin-left: 29%;
    color: red;
}

.info #one {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -10px;
    margin-left: 413px;
    font-size: 13px;
    font-style: oblique;
    text-transform: uppercase;
    color: rgb(214, 213, 213);
}

.info #two {
    margin-left: 415px;
    color: red;
    letter-spacing: 1px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 20px;
}

.info #year1 {
    margin-left: 416px;
    font-size: 20px;
    font-style: oblique;
    text-transform: uppercase;
    color: rgb(214, 213, 213);
}

.images {
    margin-top: -630px;
}

.images #img2 {
    margin-left: 160px;
    margin-top: 320px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

.black #black2 {
    margin-left: 220px;
    margin-top: 20px;
}

.info2 #loc1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    letter-spacing: 2.5px;
    font-size: 25px;
    margin-top: -180px;
    margin-left: 72.5%;
    color: red;
}

.info2 #two2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -10px;
    margin-left: 1034px;
    font-size: 13px;
    font-style: oblique;
    text-transform: uppercase;
    color: rgb(214, 213, 213);
}

.info2 #two1 {
    margin-left: 72.5%;
    color: red;
    letter-spacing: 1px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 20px;
}

.info2 #year2 {
    margin-left: 1039px;
    font-size: 20px;
    font-style: oblique;
    text-transform: uppercase;
    color: rgb(214, 213, 213);
}

.goo {
    margin-top: -175px;
    background-color: rgb(70, 24, 24);
    height: 1600px;
}

.img3 img {
    margin-top: 70px;
    margin-left: 20%;
    transition: transform 0.25s ease;
    cursor: zoom-in;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

.black3 {
    margin-top: -50px;
    margin-left: 35%;
}

.info3 #loc2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    letter-spacing: 2.5px;
    font-size: 25px;
    margin-top: -180px;
    margin-left: 37%;
    color: red;
}

.info3 #two3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -10px;
    margin-left: 37%;
    font-size: 13px;
    font-style: oblique;
    text-transform: uppercase;
    color: rgb(214, 213, 213);
}

.info3 #two4 {
    margin-left: 37%;
    color: red;
    letter-spacing: 1px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 20px;
}

.info3 #year3 {
    margin-left: 37%;
    font-size: 20px;
    font-style: oblique;
    text-transform: uppercase;
    color: rgb(214, 213, 213);
}

.lastone {
    height: 120px;
    margin-left: 136%;
    margin-top: -50%;
    width: 1px;
    height: 450px;
}

.line {
    color: #000;
}

.second p {
    position: relative;
    top: 80px;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.slideshow-container {
    margin-left: 95px;
    position: relative;
    margin-top: -470px;
}


/* Make the images invisible by default */

.Containers {
    display: none;
}

.Containers img {
    box-shadow: 10px 10px 5px rgb(102, 24, 24);
    -moz-box-shadow: 10px 10px 5px rgb(102, 24, 24);
    -webkit-box-shadow: 10px 10px 5px rgb(102, 24, 24);
    -khtml-box-shadow: 10px 10px 5px rgb(102, 24, 24);
}


/* Caption Info */

.Info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}


/* Worknumbering (1/3 etc) */

.MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
}


/* The circles or bullets and indicators */

.dots {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
    background-color: #585050;
}


/* Faint animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 2
    }
}

.text_eng {
    align-items: center;
    border: 3px double black;
    width: 700px;
    position: relative;
    text-align: center;
    margin-top: 400px;
    margin-left: 44%;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

.done {
    margin-top: 195px;
    background-color: rgb(190, 178, 178);
    height: 800px;
}

.container {
    letter-spacing: 2px;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.lav {
    display: none;
}

label {
    font-size: 45px;
}

#toggle {
    display: none;
}

@media(max-width:800px) {
    .logo {
        width: 99%;
    }
    .collapse {
        background-position-x: -25px;
        height: 668px;
    }
    .pro {
        margin-left: -50px;
        font-size: 42px;
    }
    .nav-link {
        font-size: 14px;
        position: relative;
        margin-left: -40px;
        top: 60px;
    }
    .slogan h2 {
        position: relative;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 40px;
        top: 18%;
        margin-left: -480px;
    }
    .tittle {
        height: 350px;
    }
    .tittle h1 {
        position: relative;
        text-align: center;
        font-size: 14px;
        margin-top: 37px;
        margin-left: -3px;
    }
    .video video {
        position: relative;
        top: -120px;
        margin-left: 60px;
        width: 350px;
        height: 350px;
    }
    .goo {
        margin-top: -200px;
        height: 2000px;
    }
    .inline-photo {
        margin-left: 80px;
        margin-top: 280px;
        width: 300px;
    }
    .black img {
        display: none;
    }
    .black {
        margin-left: 160px;
        margin-top: -970px;
    }
    .info {
        margin-top: 420px;
    }
    .info #loc {
        font-size: 25px;
        margin-top: -420px;
        margin-left: 100px;
    }
    .info #one {
        margin-left: 100px;
    }
    .info #two {
        font-size: 15px;
        margin-left: 100px;
    }
    .info #year1 {
        margin-left: 100px;
    }
    .images #img2 {
        width: 300px;
        margin-top: 200px;
    }
    .info2 #loc1 {
        margin-top: 440px;
        margin-left: 70px;
    }
    .info2 #two2 {
        margin-left: 70px;
        ;
    }
    .info2 #two1 {
        margin-left: 70px;
        font-size: 15px;
    }
    .info2 #year2 {
        margin-left: 70px;
    }
    .img3 img {
        margin-top: 20px;
        height: 300px;
        width: 355px;
        margin-left: 30px;
    }
    .black3 {
        display: none;
    }
    .info3 #loc2 {
        margin-top: 20px;
        margin-left: 70px;
    }
    .info3 #two3 {
        margin-left: 70px;
    }
    .info3 #two4 {
        margin-left: 70px;
        font-size: 15px;
    }
    .info3 #year3 {
        margin-left: 70px;
    }
    .lastone {
        margin-top: -820px;
        height: 520px;
    }
    .slideshow-container {
        margin-top: -350px;
        align-items: center;
        left: -10%;
    }
    .done {
        height: 900px;
    }
    .text_eng {
        width: 90%;
        text-align: center;
        font-size: 10px;
        position: relative;
        top: 320px;
        margin-left: 30px;
    }
    .container {
        font-size: 15px;
    }
    .copyright {
        margin-left: 13px;
    }
    .logo {
        position: relative;
    }
}